@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  border: 0;
  font-size: 18px;
}

body {
  background: #132689;
  background: -webkit-linear-gradient(top left, #132689, #ab4c7c);
  background: -moz-linear-gradient(top left, #132689, #ab4c7c);
  background: linear-gradient(to bottom right, #132689, #ab4c7c);
  min-height: 100vh;
  transition: all 1s ease-in-out;
}
.container {
  max-width: 800px;
  margin: auto;
  padding: 10px;
}

.txtbx {
  width: 100%;
  background: none;
  color: rgb(248, 233, 233);
  outline: none;
  border: none;
  border-bottom: 3px solid black;
  padding: 10px;
  font-size: 20px;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.432);
}

h3 {
  margin: 30px 0;
  font-weight: 900;
  font-size: 25px;
  /* color: rgb(186, 206, 206); */
}

.notcomp .task {
  background: rgba(0, 0, 0, 0.342);
  padding: 16px;
  margin: 6px 0;
  color: #fff;
}

.comp .task {
  background: rgba(0, 0, 0, 0.096);
  padding: 16px;
  margin: 6px 0;
}

i {
  float: right;
  margin-left: 20px;
  cursor: pointer;
  font-size: 20px;
}
